@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #373841;
  --secondary-color: #3b879f;
  --secondary-color-light: #4197b1;

  --primary-text-color: #333333;
  --secondary-text-color: #83888b;

  --h1-font-size: clamp(1.5rem, 1.3846rem + 0.5128vw, 2rem);
  --semi-heading-font-size: clamp(1.2rem, 1.1308rem + 0.3077vw, 1.5rem);
  --body-font-size: clamp(1rem, 0.9712rem + 0.1282vw, 1.125rem);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--header-color);
  max-height: 200px;
  height: 10vh;
}

body {
  height: 100vh;
  background-color: #f7f9f9;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  padding: 0 5%;
  font-size: var(--h1-font-size);
}

#main-box {
  display: grid;
  place-items: center;
  height: 100%;
}

.main-box__card {
  width: 80vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-left: 10px solid var(--secondary-color);

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  padding: 2%;
}

/* 1.2 a 1.5 */
.userpass-title {
  font-family: "Open Sans", sans-serif;
  font-size: var(--semi-heading-font-size);
  font-style: normal;
  padding: 3% 0;
  color: var(--primary-text-color);
}

/* 1 a 1.125 */
.userpass-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: var(--body-font-size);
  padding: 1% 0;
  font-weight: 300;
}

#open-modal-button {
  width: 60%;
  padding: 2% 2%;

  font-family: "Open Sans", sans-serif;
  font-size: var(--body-font-size);
  color: white;

  margin: 10% 0 3% 0;
  background: var(--secondary-color);
  border-color: transparent;
  outline: none;
  border-radius: 10px;

  cursor: pointer;
}

#open-modal-button:hover{
  background-color: var(--secondary-color-light);
}

/* Modal Styles */

.simple-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: animatetop;
  animation-duration: 0.5s
}

@keyframes animatetop {
  from {opacity:0}
  to {opacity:1}
}

.active-simple-modal {
  display: flex;
}

.simple-modal-content {
  place-items: center;
  width: 80vw;
  max-width: 500px;
  margin: 50px;
  background-color: white;
  overflow: auto;
  padding: 35px;
}

.simple-modal-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  padding: 2% 0;
  align-items: baseline;
  justify-content: space-between;
}

.simple-modal-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--h1-font-size);
  color: #333333;
  font-weight: bold;
  margin-left: 3%;
}

#btn-close {
  font-family: "Montserrat", sans-serif;
  font-size: var(--semi-heading-font-size);
  color: #333333;
  font-weight: bold;

  background: transparent;
  border-color: transparent;
  outline: none;

  cursor: pointer;
  margin-right: 3%;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  padding: 3% 2%;
}

.modal-input-container label {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2%;
  width: 100%;
}

.modal-input-container input {
  width: 100%;
  color: #333333;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 15px;
}

.modal-input-container input:hover {
  border: 1px solid #3b879f;
}

#modal-login-button {
  width: 100%;
  padding: 2% 2%;

  font-family: "Open Sans", sans-serif;
  font-size: var(--body-font-size);
  color: white;

  margin: 10% 0 3% 0;
  background: #3b879f;
  border-color: transparent;
  outline: none;
  border-radius: 10px;

  cursor: pointer;
}

#modal-login-button:hover {
  background: #4198b3;
}
