@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

#simple-counter {
  background-color: #1d3557;
}

.mainbox__slide {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.slide__title {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2rem;
  padding: 3% 8%;
}

.digit-display{
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  color: white;
}

.slide__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slide__content__buttons {
  padding: 5% 10%;
  display: flex;
  flex-direction: row;
}

.base-button {
  text-decoration: none;
  background-color: inherit;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  padding: 0.35em 1.2em;
  margin: 0em 0.5em;
  cursor: pointer;
  outline: none;

  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1rem;
}

.danger-button{
  color: #dc3545;
  border-color: #dc3545;
}

.base-button:hover{
    opacity: 0.8;
}

#timer {
  background-color: #457b9d;
}

.slide-container{
  width: 70%;
  padding: 2% 5% 0% 5%;
}

.slider{
  width: 100%;

  -webkit-appearance: none;
  outline: none;
  height: 50%;
  border-radius: 5px;

  background: #F5F7F9;

  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #3A99F6;
  cursor: pointer;
  border-radius: 50%;
}

.slider:hover {
  opacity: 1;
}

@media (max-width: 600px) {

    .slide__content__buttons {
        flex-direction: column;
    }

    .base-button{
        margin: 0.5em 0em;
    }

    html{
        font-size: 13px;
    }
}
